<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="jumbotron">
<h2>  See what others<br>
       have for you!</h2>
</div>
  <div class="center" style="margin-top:10px;">
    <div class="row form-group">
    <% @listings.each do |listing| %>
    <div class="col-md-3">
      <div class="panel panel-default">
      <%= link_to image_tag(listing.image.url), listing %>
          <div class="panel-body">
            <h3><%= listing.name %></h3>
            <p><%= number_to_currency(listing.price, :locale => :fr) %></p>
            <p><%= listing.address %></p>
              <h5><%= "Renter: #{listing.user.name}" %></h5>
          </div>
      </div>
  </div>
    <% end %>
  </div>
</div>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Listing', new_listing_path, class: "btn btn-link" %>
<% end %>
