<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="row">
	<div class="col-md-6">
		<div class="thumbnail">
			<%= image_tag @listing.image.url %>
		</div>	
	</div>

 	<div class="col-md-6">
  		<h2><%= @listing.name %></h2>
  		<h3><%= number_to_currency(@listing.price) %></h3><br>
  		<p><%= @listing.description %></p>
      <p><%= @listing.address %></p>
  		</div>
  	</div>	

<iframe
  width="550"
  height="300"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCSjPrwie5G2-ttM46kO9XKMFxZ30boHGs
    &q=<%= @listing.address.parameterize %>&zoom=14">
</iframe>



<% if current_user == @listing.user %>
  <%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-link" %> |
<% end %>
<%= link_to 'Back', listings_path, class: "btn btn-link" %>